@font-face {
  font-family: "NEXON Lv2 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "NEXON Lv2 Gothic OTF";
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.non-resize {
  resize: none;
}

.flex-01 {
  flex: 0.1;
}
.flex-02 {
  flex: 0.2;
}
.flex-03 {
  flex: 0.3;
}
.flex-04 {
  flex: 0.4;
}
.flex-05 {
  flex: 0.5;
}
.flex-06 {
  flex: 0.6;
}
.flex-07 {
  flex: 0.7;
}
.flex-08 {
  flex: 0.8;
}
.flex-09 {
  flex: 0.9;
}
.flex-10 {
  flex: 1;
}

.trans-click:active {
  opacity: 0.6;
}
